// FONT WEIGHTS
.fw-1 {
  font-weight: 700;
}
.fw-2 {
  font-weight: 600;
}
.fw-3 {
  font-weight: 400;
}
.fw-4 {
  font-weight: 300;
}
//MARGIN-TOP
.m-top-big {
  margin-top: 5rem;
}
.m-top-medium {
  margin-top: 3rem;
}
.m-top-small {
  margin-top: 1.6rem;
}
//MARGIN-BOTTOM
.m-bot-big {
  margin-bottom: 5rem;
}
.m-bot-medium {
  margin-bottom: 3rem;
}
.m-bot-small {
  margin-bottom: 1.6rem;
}
//MARGIN-TOP & BOTTOM
.m-top-bot-big {
  margin: 5rem 0rem;
}
.m-top-bot-medium {
  margin: 3rem 0rem;
}
.m-top-bot-small {
  margin: 1.5rem 0rem;
}
//FONT-SIZES
.fs-1 {
  font-size: 4.2rem;
}
.fs-2 {
  font-size: 3.2rem;
}
.fs-3 {
  font-size: 2.4rem;
}
.fs-4 {
  font-size: 1.8rem;
}
.fs-5 {
  font-size: 1.6rem;
}
.fs-6 {
  font-size: 1.2rem;
}
.hidden {
  display: none;
}
.opacity0 {
  opacity: 0;
}
.width0 {
  width: 0;
}
